@media (max-width: 730px) {
  .cityGallery {
    li {
      width: 150px;
      height: 150px;

      h3 {
        font-size: 1.3rem;
        width: 118px;
      }
    }
  }
}

@media (max-width: 570px) {
  .cityGallery {
    .row {
      flex-direction: column;
    }

    li {
      width: 300px;
      height: 57px;
      margin: 5px;

      h3 {
        font-size: 1.2rem;
        width: 200px;
      }

      span {
        display: inline-block;
      }
    }
  }
}


@media (max-height: 709px) {
  .cityRestaurants {
    .listContainer {
      height: 510px;
    }
  }

  .restaurantInfo {
    .detailsContainer {
      height: 450px;
    }
  }
}