.restaurantInfo {
  .restaurantDetails {
    min-height: 70vh;
    @include flex-center-column-around;
  }

  h4 {
    font-size: clamp(3rem, 3vw, 5rem);
    margin-bottom: 10px;
  }

  .anotherRestaurant {
    margin-top: 10px;
  }

  .detailsContainer {
    height: 525px;
    width: 400px;
    max-width: 100%;
    padding: 20px;
    background-color: $primary-light;
    border: 10px solid $burnt-sienna;
    box-shadow: 0px 0px 5px 5px #0a0a0a;
    @include flex-start-column-even;

    p {
      font-size: clamp(2.3rem, 3vw, 2.6rem);
    }

    a {
      color: $light-orange;
      text-decoration-line: underline;
      text-decoration-style: wavy;
      transition: text-shadow 0.2s ease-in-out;

      &:hover,
      &:focus,
      &:active {
        text-shadow: 1px 1px 2px $burnt-sienna;
      }
    }

    .specialStyling {
      font-weight: $bold;
      text-decoration: underline;
    }
  }

  .imgBox {
    box-shadow: 0px 0px 0px 1px #0a0a0a;
  }
}

.flexRestaurant {
  @include flex-center-column-even;
}