// Font Stacks
$heading-font-stack: 'Pacifico', cursive;
$body-font-stack: 'Amatic SC', cursive;

// Font Weights
$regular: 400;
$bold: 700;

// Colors
$primary-dark: #0a0a0a;
$primary-light: #f1ebeb;
$light-orange: #ed6836;
$orange: orange;
$burnt-sienna: #ad370b;